# SSG - ALL env vars are BUILD time ONLY

# with https://
# https://nemanjamitic.com | https://nemanjam.github.io
SITE_URL=https://nemanjam.github.io

# see draft posts and projects, true | false | empty
# optional, default false, set only on prod build
# PREVIEW_MODE=
