---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Content from '../components/Content.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import SiteWrapper from '../components/SiteWrapper.astro';
import SkipToMain from '../components/SkipToMain.astro';
import { Snackbar } from '../components/Snackbar';

export interface Props {
	title?: string | undefined;
	description?: string | undefined;
	image?: string | undefined;
}
const { title, description, image } = Astro.props;
---

<html class="scroll-pt-8 scroll-smooth md:scroll-pt-16" lang="en">
	<head>
		<BaseHead
			title={title ? `${title} • ${SITE_TITLE}` : SITE_TITLE}
			description={description || SITE_DESCRIPTION}
			image={image}
		/>
	</head>

	<body
		class="bg-slate-50 transition-colors duration-500 selection:bg-purple-400/60 dark:bg-slate-950 dark:selection:bg-purple-400/80 dark:selection:text-slate-950"
	>
		<SiteWrapper fullscreen>
			<SkipToMain />

			<Header />

			<div class="grow">
				<main id="main">
					<Content>
						<slot />
					</Content>
				</main>
			</div>

			<Footer />

			<Snackbar client:idle />
		</SiteWrapper>
	</body>
</html>
