---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import SiteWrapper from '../components/SiteWrapper.astro';
import SkipToMain from '../components/SkipToMain.astro';
import { Snackbar } from '../components/Snackbar';
import { SITE_DESCRIPTION, SITE_TITLE } from '../config';

export interface Props {
  title?: string | undefined;
  description?: string | undefined;
  image?: string | undefined;
}
const { title, description, image } = Astro.props;
---

<html class="scroll-smooth" lang="en">
  <head>
    <BaseHead
      title={title ? `${title} • ${SITE_TITLE}` : SITE_TITLE}
      description={description || SITE_DESCRIPTION}
      image={image}
    />
  </head>

  <body
    class="flex min-h-screen flex-col bg-slate-50 transition-colors duration-500 selection:bg-purple-400/60 dark:bg-slate-950 dark:selection:bg-purple-400/80 dark:selection:text-slate-950"
  >
    <SiteWrapper>
      <SkipToMain />
      <Header />
    </SiteWrapper>

    <slot />

    <SiteWrapper>
      <Snackbar client:idle />

      <Footer />
    </SiteWrapper>
  </body>
</html>
