---
import Centered from '@/layouts/Centered.astro';

import type { BaseProps } from '@/layouts/Base.astro';

export interface Props extends BaseProps {}

const props = Astro.props;
const { title, description } = Astro.props;
// pagination
---

<Centered {...props}>
  <article class="py-10 md:py-20">
    <h1>{title}</h1>
    {description && <p>{description}</p>}
    <slot />
  </article>
</Centered>
