---
import Centered from '@/layouts/Centered.astro';
import Text from '@/components/ui/Text.astro';

import type { BaseProps } from '@/layouts/Base.astro';

export interface Props extends BaseProps {}

const props = Astro.props;
const { title, description } = Astro.props;
// pagination
---

<Centered {...props}>
  <h1>{title}</h1>
  <Text>
    {description}
  </Text>
  <slot />
</Centered>
