---
import Base from '@/layouts/Base.astro';
import Prose from '@/components/Prose.astro';

export interface Props {
  content: {
    file?: string;
    title: string;
    description: string;
    publishDate?: Date;
    updatedDate?: Date;
  };
}

const {
  content: { title, description, updatedDate, file },
} = Astro.props;
---

<Base title={title} description={description}>
  <Prose>
    <article>
      <h1>{title}</h1>
      <slot />
    </article>
  </Prose>
</Base>
