---
import Centered from '@/layouts/Centered.astro';
import Prose from '@/components/Prose.astro';
import Text from '@/components/ui/Text.astro';

import type { BaseProps } from '@/layouts/Base.astro';

export interface Props extends BaseProps {}

const props = Astro.props;
const { title, description } = Astro.props;
---

<Centered {...props}>
  <Prose>
    <header>
      <h1>{title}</h1>
      <Text>
        {description}
      </Text>
    </header>
    <article>
      <slot />
    </article>
  </Prose>
</Centered>
