---
import Item from '~/components/blog/ListItem.astro';

import type { BlogPost } from '~/types/models/BlogPost';

export interface Props {
  posts: Array<BlogPost>;
}

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li class="mb-12 md:mb-20">
        <Item post={post} />
      </li>
    ))
  }
</ul>
