---
import { getAllPosts, getPostsWithReadingTimeFromPosts } from '@/modules/post';
import List from '@/layouts/List.astro';
import Pagination, { getPaginationPropsFromPage } from '@/components/Pagination.astro';
import PostList from '@/components/PostList.astro';
import { CONFIG } from '@/config';

import type { Post } from '@/types/post';
import type { GetStaticPathsOptions } from 'astro';

// [page].astro and getStaticPaths because of pagination
export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const sortedPosts = await getAllPosts();

  const posts: Post[] = await getPostsWithReadingTimeFromPosts(sortedPosts);

  const pagination = paginate(posts, { pageSize: CONFIG.PAGE_SIZE }); // must take entire config here, interesting
  pagination.push({ params: { page: '1' }, props: pagination[0].props });
  return pagination;
}

// page from pagination
const { page } = Astro.props;

const paginationProps = getPaginationPropsFromPage(page);
const layoutProps = {
  title: 'Blog',
  description:
    'Mostly just whatever seems important in the moment about JavaScript, frontend development, and life surrounding me.',
};
---

<List {...layoutProps}>
  <section>
    <PostList posts={page.data} />
  </section>

  <Pagination {...paginationProps} />
</List>
