---
import Pagination, { getPaginationPropsFromPage } from '../../components/Pagination.astro';
import PostCard from '../../components/PostCard.astro';
import Heading from '../../components/ui/Heading.astro';
import Text from '../../components/ui/Text.astro';
import { CONFIG } from '../../config';
import Base from '../../layouts/Base.astro';
import { getAllPosts } from '../../modules/post';

import type { GetStaticPathsOptions, Page } from 'astro';
import type { PostCollection } from '../../types/post';

// [page].astro and getStaticPaths because of pagination
export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const sortedPosts = await getAllPosts();

  const pagination = paginate(sortedPosts, { pageSize: CONFIG.PAGE_SIZE }); // must take entire config here, interesting
  pagination.push({ params: { page: '1' }, props: pagination[0].props });
  return pagination;
}

type Props = {
  page: Page<PostCollection>;
};

// page from pagination
const { page } = Astro.props;

const paginationProps = getPaginationPropsFromPage(page);
---

<Base title="Blog">
  <div>
    <Heading as="h1" align="center">Blog</Heading>
    <Text>
      Mostly just whatever seems important in the moment about JavaScript, frontend development, and
      life surrounding me.
    </Text>
  </div>

  <section>
    <div class="flex flex-col items-center gap-16">
      {page.data.map((post) => <PostCard post={post} />)}
    </div>
  </section>

  <Pagination {...paginationProps} />
</Base>
