---
import { getAllPosts, getUniqueTags } from '@/modules/post';
import Base from '@/layouts/Base.astro';
import Pagination, { getPaginationPropsFromPage } from '@/components/Pagination.astro';
import PostList from '@/components/PostList.astro';
import Heading from '@/components/ui/Heading.astro';
import { CONFIG } from '@/config';

import type { PostCollection } from '@/types/post';
import type { GetStaticPathsOptions, Page } from 'astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const sortedPosts = await getAllPosts();

  const uniqueTags = getUniqueTags(sortedPosts);

  const pagination = uniqueTags.flatMap((tag) => {
    const filteredPosts = sortedPosts.filter((post) => post.data.tags.includes(tag));
    const tagPagination = paginate(filteredPosts, { pageSize: CONFIG.PAGE_SIZE, params: { tag } });
    return tagPagination;
  });

  pagination.push({ ...pagination[0], params: { ...pagination[0].params, page: '1' } });
  return pagination;
}

type Props = {
  page: Page<PostCollection>;
};

const { page } = Astro.props;
const { tag } = Astro.params;

const paginationProps = getPaginationPropsFromPage(page);
const title = `Tag: ${tag}`;
---

<Base title={title}>
  <header>
    <Heading as="h1" align="center">{title}</Heading>
  </header>

  <section>
    <PostList posts={page.data} />
  </section>

  <Pagination {...paginationProps} />
</Base>
