@layer base {
  :root,
  :root[data-theme='light'] {
    /* background */
    --base-100: var(--color-white);
    --base-200: var(--color-slate-50);
    --base-300: var(--color-slate-100);
    --base-code: var(--color-slate-300);

    /* reused from tw-prose-xxx */
    --content: var(--color-slate-700);
    --headings: var(--color-slate-900);
    --captions: var(--color-slate-500);

    --links: var(--color-blue-500);
    --links-hover: var(--color-orange);
    --links-visited: var(--color-purple-700);

    --primary: var(--color-blue-500);
    --primary-content: var(--color-white);

    --secondary: var(--color-orange);
    --secondary-content: var(--color-white);

    /* border radius, default for all themes */
    --rounded-box: 0.25rem;
    --rounded-button: 0.125rem;
    --rounded-tag: 0.125rem;
  }

  /* select both class="dark" and data-theme="dark" */
  :root.dark,
  :root.dark[data-theme='dark'] {
    /* background */
    --base-100: var(--color-dark-slate-900);
    --base-200: var(--color-dark-slate-800);
    --base-300: var(--color-dark-slate-950);
    --base-code: var(--color-slate-700);

    /* reused from tw-prose-invert-xxx */
    --content: var(--color-dark-slate-300);
    --headings: var(--color-white);
    --captions: var(--color-dark-slate-400);

    --links: var(--color-blue-500);
    --links-hover: var(--color-orange);
    --links-visited: var(--color-purple-700);

    --primary: var(--color-blue-500);
    --primary-content: var(--color-white);

    --secondary: var(--color-orange);
    --secondary-content: var(--color-white);
  }
}
