/*------------------------------------------------------------------------
 * add typography styles for my components here, same as prose-slate, h1, h2, body...
 * set only: fontSize,  marginTop,  marginBottom,  lineHeight so prose can override them
 * 
 * most content and text is in .mdx pages and collections with prose, p, h1, h2, a...
 *------------------------------------------------------------------------*/

@layer base {
  body {
    /* style base font in body, not in html so rem is unaffected */
    /* not responsive font, will affect buttons, etc, all elements */
    color: var(--content);
    /* @apply text-base sm:text-lg lg:text-xl; */
  }

  h1 {
    color: var(--headings);
    @apply text-3xl sm:text-4xl md:text-5xl;
    @apply font-extrabold;
  }

  .prose {
    /* @apply outline outline-blue-500; */
  }

  /*
  h2 {
    @apply bg-green-200;
  }
  */

  /* all h2 that dont have .prose parent */
  /*
  h2:not(:is(.prose *) h2) {
    @apply outline outline-red-500;
  }
  */

  /* 
  *:hover {
    @apply outline outline-red-500;
  } 
  */
}
