@layer utilities {
  .no-expand {
  }

  .expand-lg {
    @apply xl:mx-[calc(50%-50vw)] xl:translate-x-[calc(50vw-50%)];
    @apply xl:w-[80vw] max-w-7xl;
  }

  .expand-sm {
    @apply xl:mx-[calc(50%-50vw)] xl:translate-x-[calc(50vw-50%)];
    @apply xl:w-[70vw] max-w-5xl;
  }

  .shape-circle {
    aspect-ratio: 1;
    shape-outside: circle(50%);
    clip-path: circle(50%);
    shape-margin: 1.25rem;
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
    overflow: hidden;
  }

  .shape-half-tl {
    clip-path: polygon(0 0, 0 100%, 100% 0);
  }

  .shape-half-br {
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
  }
}
