---
import { getAllEntries } from '~/modules/common';

import TagList from '../../components/TagList.astro';
import Heading from '../../components/ui/Heading.astro';
import Base from '../../layouts/Base.astro';
import { getSortedUniqueTagsWithCount } from '../../modules/post';

const allPosts = await getAllEntries('blog');
const tagsWithCount = getSortedUniqueTagsWithCount(allPosts);
---

<Base title="Blog">
  <Heading as="h1" align="center">Tags</Heading>

  <section>
    <div class="flex flex-col items-center gap-16">
      <TagList tags={tagsWithCount} />
    </div>
  </section>
</Base>
