---
import { getAllPosts, getSortedUniqueCategoriesWithCount } from '@/modules/post';
import List from '@/layouts/List.astro';
import FilterList from '@/components/FilterList.astro';

import type { Metadata } from '@/types/common';

const posts = await getAllPosts();
const categoriesWithCount = getSortedUniqueCategoriesWithCount(posts);
const metadata: Metadata = { title: 'Categories' };
---

<List {metadata}>
  <section>
    <FilterList type="categories" items={categoriesWithCount} class="mb-4" />
  </section>
</List>
