---
export interface Props {
	id?: string;
}

const { id } = Astro.props as Props;
---

<span id={id} itemprop="author" itemscope itemtype="http://schema.org/Person">
	<meta itemprop="name" content="Paul Armstrong" />
	<meta itemprop="url" content="https://paularmstrong.dev" />
	<meta itemprop="jobTitle" content="Principal Software Engineer" />
</span>
