---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

import Content from '@/components/Content.astro';
import HeaderLink from '@/components/HeaderLink.astro';
import { ThemeSwitcher } from '@/components/ThemeSwitcher';
import { NAVIGATION_ITEMS } from '@/constants/navigation';
import { CONFIG } from '@/config';

import Avatar from '@/images/avatar.jpg';
---

<Content>
  <header id="main-header" class="group">
    <div
      class="flex gap-2 py-4 group-[.menu-open]:flex-col md:justify-between md:items-center md:!flex-row"
    >
      {/* mobile nav */}
      <div class="w-full flex justify-between items-center">
        <h1 class="shrink-0">
          <a
            class="group flex flex-row items-center gap-2 whitespace-nowrap text-2xl font-bold text-blue-700 underline-offset-2 outline-none duration-100 hover:text-blue-900 focus:underline focus:decoration-4 focus:underline-offset-4 motion-safe:transition-all dark:text-blue-100 dark:hover:text-blue-300"
            href="/"
          >
            <Image
              loading="eager"
              class="h-12 w-12 shrink-0 select-none overflow-hidden rounded-md group-focus-visible:ring-4 group-focus-visible:ring-blue-200 dark:group-focus-visible:ring-blue-500/40"
              src={Avatar}
              width={96}
              height={96}
              alt="Profile picture"
            />
            {CONFIG.SITE_TITLE}
          </a>
        </h1>
        <mobile-button class="md:hidden">
          <button
            aria-expanded="false"
            aria-haspopup="menu"
            aria-label="Open main menu"
            type="button"
            class="group"
          >
            <Icon name="mdi:hamburger-menu" class="h-6 w-6 group-aria-expanded:hidden" />
            <Icon name="mdi:close" class="h-6 w-6 hidden group-aria-expanded:block" />
          </button>
        </mobile-button>
      </div>
      {/* nav items */}
      <nav
        class="select-none hidden md:block group-[.menu-open]:block"
        aria-label="Site navigation"
      >
        <ul class="flex gap-1 group-[.menu-open]:flex-col md:!flex-row">
          {
            NAVIGATION_ITEMS.map(({ title, path }) => (
              <li>
                <HeaderLink href={path}>{title}</HeaderLink>
              </li>
            ))
          }
          <li class="shrink-0"><ThemeSwitcher client:load /></li>
        </ul>
      </nav>
    </div>
  </header>
</Content>

<script>
  class MobileNavBtn extends HTMLElement {
    private headerEl: HTMLElement;
    private menuOpen: boolean;
    private mobileButtonEl: HTMLButtonElement;

    toggleMobileMenu = () => {
      this.headerEl.classList.toggle('menu-open');
      this.menuOpen = !this.menuOpen;
      this.mobileButtonEl.setAttribute('aria-expanded', this.menuOpen.toString());
    };

    constructor() {
      super();
      this.headerEl = document.getElementById('main-header')!;
      this.mobileButtonEl = this.querySelector('button') as HTMLButtonElement;
      this.menuOpen = false;

      this.mobileButtonEl.addEventListener('click', this.toggleMobileMenu);
    }
  }

  customElements.define('mobile-button', MobileNavBtn);
</script>
