---
import clsx from 'clsx';

export type Props = astroHTML.JSX.AnchorHTMLAttributes & {
  variant?: 'default' | 'heading' | 'category' | 'tag';
};

const { class: className, variant = 'default', ...props } = Astro.props;
---

<a
  class={clsx(
    // link styles
    'no-underline decoration-1',
    // hover styles
    // add visited:...
    'hover:underline focus:underline active:underline',
    // variants
    {
      'text-links hover:text-links-hover focus:text-links-hover active:text-links-hover visited:text-links-hover':
        variant === 'default',
    },
    { 'underline-offset-8': variant === 'heading' },
    {
      'text-secondary hover:text-primary hover:no-underline focus:text-primary focus:no-underline active:text-primary active:no-underline':
        variant === 'category',
    },
    {
      'bg-gray-200 dark:bg-slate-700 inline-block px-2 py-0.5 lowercase hover:no-underline hover:text-primary focus:no-underline focus:text-primary  active:no-underline active:text-primary ':
        variant === 'tag',
    },
    className
  )}
  {...props}
  ><slot />
</a>
