---
import clsx from 'clsx';

export type Props = astroHTML.JSX.AnchorHTMLAttributes & {
  variant?: 'default' | 'heading' | 'category';
};

const { class: className, variant = 'default', ...props } = Astro.props;
---

<a
  class={clsx(
    // link styles
    'no-underline decoration-1',
    // hover styles
    // add visited:...
    'hover:underline focus:underline active:underline',
    // variants
    {
      'text-link hover:text-link-hover focus:text-link-hover active:text-link-hover':
        variant === 'default',
    },
    {
      'text-secondary hover:text-primary hover:no-underline focus:text-primary focus:no-underline active:text-primary active:no-underline':
        variant === 'category',
    },
    { 'underline-offset-8': variant === 'heading' },
    className
  )}
  {...props}
  ><slot />
</a>
