---
import clsx from 'clsx';

export type Props = astroHTML.JSX.AnchorHTMLAttributes;

const { class: className, ...props } = Astro.props;
---

<a
  class={clsx(
    // link styles
    'outline-none no-underline underline-offset-2 transition-all duration-100',
    // hover styles
    'hover:underline hover:decoration-4 hover:underline-offset-4',
    // focus styles
    'focus:underline focus:decoration-4 focus:underline-offset-4',
    className
  )}
  {...props}
  ><slot />
</a>
