---
import { ROUTES } from '../constants/routes';
import { getPostSlug } from '../modules/post';
import Link from './Link.astro';
import Prose from './Prose.astro';

import type { CollectionEntryWithRenderedDescription } from '../modules/post';

export interface Props {
  morePosts: CollectionEntryWithRenderedDescription[];
}

const { morePosts } = Astro.props;
---

{/* extracted, fix styles and markup */}
<aside class="select-none">
  <Prose>
    <h2 id="post-nav">More posts</h2>
  </Prose>

  <ul class="flex flex-col gap-8">
    {
      morePosts.map((entry) => (
        <li>
          <Link
            class="text-xl font-bold"
            href={`${ROUTES.BLOG}${getPostSlug(entry)}/`}
            itemprop="url"
          >
            {entry.data.title}
          </Link>
          <div class="prose prose-slate line-clamp-2 dark:prose-invert">
            <Fragment set:html={entry.description.code} />
          </div>
        </li>
      ))
    }
  </ul>
</aside>
