---
import clsx from 'clsx';

export interface Props {
	fullscreen?: boolean;
}

const { fullscreen } = Astro.props as Props;
---

<div class={clsx('flex flex-col gap-4 md:gap-16', fullscreen && 'min-h-screen')}>
	<slot />
</div>
