---

---

<a
  class="absolute inset-x-0 z-10 -translate-y-full select-none bg-slate-100/50 p-4 text-center font-bold text-blue-600 underline decoration-4 underline-offset-4 outline-none backdrop-blur-lg transition-transform duration-150 focus:translate-y-0 focus:shadow-lg dark:bg-slate-800/50 dark:text-blue-400"
  href="#main"
>
  Skip to main content
</a>
