---
import Link from '@/components/Link.astro';

export interface Heading {
  text: string;
  slug: string;
  headings: Heading[];
}
interface Props {
  headings: Heading[];
}

const { headings } = Astro.props as Props;
---

{/* prints two levels deep */}

<div class="prose-ol:!my-1 prose-li:!my-1">
  <ol>
    {
      headings.map(({ slug, text, headings: subHeadings }) => (
        <li>
          <Link href={`#${slug}`}>{text}</Link>
          {subHeadings?.length > 0 && (
            <ol class="list-[lower-alpha]">
              {subHeadings.map(({ slug, text }) => (
                <li>
                  <Link href={`#${slug}`}>{text}</Link>
                </li>
              ))}
            </ol>
          )}
        </li>
      ))
    }
  </ol>
</div>
