---
import clsx from 'clsx';

import TocList from './TocList.astro';

import type { Heading } from './TocList.astro';

export interface Props {
  headings: Heading[];
}

const { headings } = Astro.props as Props;
---

<aside
  class={clsx(
    'prose-base text-slate-900', // only for list numbers?
    'transition-colors duration-500',
    'rounded-xl border border-slate-200 bg-slate-100',
    'px-4 py-1 mx-4 mb-4 sm:mb-0 sm:ml-8 sm:mr-0 md:-mr-8 lg:-mr-32',
    'sm:float-right sm:max-w-[50%]',
    'dark:border-slate-800 dark:bg-slate-900'
  )}
>
  <h2 class="mt-4">Table of contents</h2>
  <TocList headings={headings} />
</aside>
