@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [id] {
    position: relative;
    z-index: 1;
  }

  *:not(main):target::before {
    content: ' ';
    position: absolute;
    background-color: theme('colors.purple.400');
    border-radius: theme('borderRadius.DEFAULT');
    opacity: 0.2;
    z-index: -1;
    inset: -theme('spacing.2');
  }

  [data-line-numbers] {
    counter-reset: line;
  }

  [data-line-numbers] [data-line]::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: theme('width.5');
    margin-right: theme('spacing.6');
    text-align: right;
    color: theme('colors.slate.400');
  }

  .prose :where(div[data-rehype-pretty-code-fragment]):not(:where([class~='no-bustout'] *)) {
    @media screen and (min-width: theme('screens.xl')) {
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
      width: 60vw;
      max-width: 1280px;
      transform: translateX(calc(50vw - 50%));
    }
  }

  [data-rehype-pretty-code-title] {
    width: max-content;
    border-width: theme('spacing.px');
    border-bottom-width: 0;
    border-color: theme('colors.slate.300');
    border-top-left-radius: theme('borderRadius.md');
    border-top-right-radius: theme('borderRadius.md');
    padding-x: theme('spacing.2');
    padding-y: ttheme('spacing.4');
    font-family: theme('fontFamily.mono');
    color: theme('colors.slate.900');
    background-color: theme('colors.slate.200');
    font-size: theme('fontSize.sm');

    .dark & {
      border-color: theme('colors.slate.800');
      background-color: theme('colors.slate.900');
      color: theme('colors.slate.100');
    }

    + pre {
      border-top-left-radius: theme('borderRadius.none');
      margin-top: theme('spacing.0');
    }
  }

  [data-rehype-pretty-code-caption] {
    margin-top: -theme('spacing.6');
    margin-bottom: theme('spacing.8');
    font-size: theme('fontSize.xs');
    text-align: center;
  }

  @media (min-width: 1280px) {
    [data-rehype-pretty-code-caption] {
      margin-top: -theme('spacing.9');
    }
  }
}

@layer utilities {
  .no-bustout {
  }

  .bustout {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: 80vw;
    max-width: 1280px;
    transform: translateX(calc(50vw - 50%));
  }

  .bustout-sm {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: 60vw;
    max-width: 1024px;
    transform: translateX(calc(50vw - 50%));
  }

  .shape-circle {
    aspect-ratio: 1;
    shape-outside: circle(50%);
    clip-path: circle(50%);
    shape-margin: 1.25rem;
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
    overflow: hidden;
  }

  .shape-half-tl {
    clip-path: polygon(0 0, 0 100%, 100% 0);
  }

  .shape-half-br {
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
  }
}
