@layer base {
  :root,
  :root[data-theme='light'] {
    --theme-color-white: var(--color-white);
    --theme-color-primary: var(--color-blue);
    --theme-color-secondary: var(--color-orange);

    --theme-color-prism-background: var(--color-white-cloud);

    --theme-color-text-muted: var(--color-text-muted);
    --theme-color-text-dark-muted: var(--color-text-dark-muted);

    --theme-color-link: var(--color-blue);
    --theme-color-link-hover: var(--color-orange);
    --theme-color-quote: var(--color-gray);

    --theme-color-page-border: var(--color-white-cloud);
    --theme-color-page-background: var(--color-white);

    --theme-color-sidebar-border: var(--color-white-cloud);
    --theme-color-sidebar-border-fade: var(--color-white);
    --theme-color-contacts-border: var(--color-white-cloud);
    --theme-color-button-border: var(--color-white-cloud);

    --theme-color-button-color: var(--color-dark);
    --theme-color-theme-switcher: var(--color-dark-cloud);
    --theme-color-theme-switcher-hover: var(--color-blue);
  }

  :root[data-theme='dark'] {
    --theme-color-white: var(--color-white);
    --theme-color-primary: var(--color-blue);
    --theme-color-secondary: var(--color-orange);

    --theme-color-prism-background: var(--color-dark-paper);

    --theme-color-link: var(--color-blue);
    --theme-color-link-hover: var(--color-orange);
    --theme-color-quote: var(--color-gray);

    --theme-color-page-border: var(--color-dark-cloud);
    --theme-color-page-background: var(--color-dark);

    --theme-color-sidebar-border: var(--color-dark-cloud);
    --theme-color-sidebar-border-fade: var(--color-dark);
    --theme-color-contacts-border: var(--color-dark-cloud);
    --theme-color-button-border: var(--color-dark-cloud);

    --theme-color-button-color: var(--color-white);
    --theme-color-theme-switcher: var(--color-white-cloud);
    --theme-color-theme-switcher-hover: var(--color-blue);
  }
}
