/* add typography styles for my components here, same as prose-slate, h1, h2, body... */

@layer base {
  html {
    @apply text-sm xs:text-base;
  }

  /* most content and text is in .mdx pages and collections with prose, p, h1, h2, a... */

  body {
    color: var(--content);
  }

  h1 {
    @apply text-xl xs:text-2xl font-bold;
    color: var(--headings);
  }

  h2 {
    @apply text-lg xs:text-xl font-bold;
    color: var(--headings);
  }
}
