/* add typography styles for my components here, same as prose-slate, h1, h2, body... */

@layer base {
  html {
    @apply text-sm xs:text-base;
  }

  /* most content and text is in .mdx pages and collections with prose, p, h1, h2, a... */

  body {
    color: var(--content);
  }

  /* 
  h1 {
    @apply text-xl xs:text-2xl font-bold;
    color: var(--headings);
  }

  h2 {
    @apply text-lg xs:text-xl font-bold;
    color: var(--headings);
  }
   */

  .prose {
    @apply outline outline-blue-500;
  }

  h1:not(:is(.prose *) h1) {
    color: var(--headings);
    @apply text-4xl font-bold mb-8 lg:text-5xl;
  }

  /* all h2 that dont have .prose parent */
  h2:not(:is(.prose *) h2) {
    color: var(--headings);
    @apply text-2xl font-bold mb-4;
    /*  */
    @apply outline outline-red-500;
  }

  /*
  .prose {
    @apply outline outline-blue-500;
  }

  h2 {
    @apply bg-green-200;
  }

  h2:not(:is(.prose *) h2) {
    @apply outline outline-red-500;
  }
  */

  /* h2:not(:is(.prose *) > h2 */

  /* 
  *:hover {
    @apply outline outline-red-500;
  } 
  */
}
