---
import { Icon } from 'astro-icon/components';

import { getCategoryIcon } from '@/modules/post';
import { cn } from '@/utils/styles';

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  category: string;
}

const { category, class: className, ...props } = Astro.props;

const categoryIcon = getCategoryIcon(category);
---

<div class={cn('inline-flex items-center gap-2 border border-base-300 p-4', className)}>
  <Icon name={categoryIcon} class="h-8 w-8" />
  <a {...props}>
    <slot />
  </a>
</div>
