---
import Link from '@/components/Link.astro';
import { ROUTES } from '@/constants/routes';
import { cn } from '@/utils/styles';

import type { ItemWithCount } from '@/modules/post';

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  categories: ItemWithCount[];
}

const { categories, class: className, ...props } = Astro.props;
---

<ul {...props} class={cn('flex flex-wrap gap-2', className)}>
  {
    categories.map(({ text: category, count }) => (
      <li>
        <Link href={`${ROUTES.CATEGORIES}${category}`}>{`${category}(${count})`}</Link>
      </li>
    ))
  }
</ul>
