---
import { Icon } from 'astro-icon/components';

import { getCategoryProps } from '@/modules/post';
import Link from '@/components/Link.astro';
import { cn } from '@/utils/styles';

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  category: string;
}

const { category, class: className, ...props } = Astro.props;

const { icon } = getCategoryProps(category);
---

<a
  {...props}
  class={cn(
    'inline-flex items-center gap-2 px-4 py-2 rounded-button border border-base-300 hover:bg-base-300',
    className
  )}
>
  <span class="inline-block rounded-button">
    <Icon name={icon} class="h-8 w-8" />
  </span>
  <span class="inline-block font-bold text-lg">
    <slot />
  </span>
</a>
