---
import { getSortedUniqueCategoriesWithCount, getSortedUniqueTagsWithCount } from '@/modules/post';
import FilterList from '@/components/FilterList.astro';
import { cn } from '@/utils/styles';

import type { PostCollection } from '@/types/post';

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  posts: PostCollection[];
}

const { posts, class: className, ...props } = Astro.props;

const tagsWithCount = getSortedUniqueTagsWithCount(posts);
const categoriesWithCount = getSortedUniqueCategoriesWithCount(posts);
---

<section {...props} class={cn(className)}>
  <h4>Categories:</h4>
  <FilterList type="categories" items={categoriesWithCount} class="mb-4" />
  <h4>Tags:</h4>
  <FilterList type="tags" items={tagsWithCount} class="mb-4" />
</section>
