---
import { getFilterLinks } from '@/modules/post';
import Tag from '@/components/Tag.astro';
import { cn } from '@/utils/styles';

import type { Filter } from '@/modules/post';

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  items: Filter[];
}

const { items = [], class: className, ...props } = Astro.props;
const { pathname } = Astro.url;

const itemLinks = getFilterLinks(items, pathname);

// fix this, category card with icon, tag TagList, CategoryList
---

{
  itemLinks.length > 0 && (
    <ul {...props} class={cn('flex flex-wrap gap-2', className)}>
      {itemLinks.map(({ href, text, isActive, type }) => (
        <li class="inline-block">
          <Tag href={href} size="md" class={cn({ 'underline font-bold text-accent': isActive })}>
            {text}
          </Tag>
        </li>
      ))}
    </ul>
  )
}
