---
import { cn } from '@/utils/styles';

import type { FilterLink } from '@/modules/post';
import type { JSX } from 'astro/jsx-runtime';

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  itemLinks: FilterLink[];
  renderFn: (itemLink: FilterLink) => JSX.Element;
}

const { itemLinks = [], renderFn, class: className, ...props } = Astro.props;

// fix this, category card with icon, tag TagList, CategoryList
---

{
  itemLinks.length > 0 && (
    <ul {...props} class={cn('flex flex-wrap gap-2', className)}>
      {itemLinks.map((itemLink) => (
        <li class="inline-block">{renderFn(itemLink)}</li>
      ))}
    </ul>
  )
}
