---
import { Icon } from 'astro-icon/components';

import { BackToTop } from '@/components/BackToTop';
import Button from '@/components/Button.astro';
import { CONFIG } from '@/config';
import { getLatestCommitInfo, getLatestCommitInfoAsString } from '@/utils/git';
import { trimHttpProtocol } from '@/utils/strings';

const { SITE_URL } = CONFIG;
const domain = trimHttpProtocol(SITE_URL);

const commitInfo = getLatestCommitInfoAsString();
---

<footer class="w-screen border-t border-base-300 bg-base-200 pt-8 transition-colors duration-500">
  <div class="mx-4 flex max-w-4xl flex-col gap-10 md:mx-auto">
    <div class="mb-4 flex flex-row flex-wrap items-center justify-between gap-y-4">
      <div class="text-xs text-blue-800 transition-colors duration-500 dark:text-blue-200">
        <p>Under construciton.</p>
        <p>
          Starter project: <a href="https://github.com/paularmstrong/paularmstrong.dev"
            >https://github.com/paularmstrong/paularmstrong.dev</a
          >
        </p>
        <p>
          All references: <a href="https://github.com/nemanjam/nemanjam.github.io#references"
            >https://github.com/nemanjam/nemanjam.github.io#references</a
          >
        </p>
        <p>{commitInfo}</p>
      </div>
      <div class="flex grow flex-row justify-end">
        <Button href="#top">
          <Icon name="back-to-top" class="h-6 w-6 fill-current" />
          {' '}Back to top
        </Button>
      </div>

      <nav aria-label="Related content" class="grow select-none">
        <ul class="flex flex-row flex-wrap gap-2 sm:justify-end">
          <li>
            <Button
              href="https://github.com/nemanjam"
              target="_blank"
              rel="me noreferrer noopener"
              title="@nemanjam on Github"
            >
              <Icon name="github" class="h-6 w-6 fill-current" />
              {' '}Github
            </Button>
          </li>
          <li>
            <Button href="/feed.xml" title={`RSS feed for ${domain}`}>
              <Icon name="rss" class="h-6 w-6 fill-current" />
              {' '}RSS Feed
            </Button>
          </li>
          <li>
            <Button href="/feed.json" title={`JSON feed for ${domain}`}>
              <Icon name="json" class="h-6 w-6 fill-current" />
              {' '}JSON Feed
            </Button>
          </li>
        </ul>
      </nav>
    </div>
    <BackToTop client:only="solid-js" />
  </div>
</footer>
