---
import { Icon } from 'astro-icon/components';

import { BackToTop } from '@/components/BackToTop';
import Button from '@/components/Button.astro';
import { CONFIG } from '@/config';
import { getLatestCommitInfo, getLatestCommitInfoAsString } from '@/utils/git';
import { trimHttpProtocol } from '@/utils/strings';

const { SITE_URL } = CONFIG;
const domain = trimHttpProtocol(SITE_URL);

const commitInfo = getLatestCommitInfoAsString();
---

<footer class="block border-t border-base-300">
  <div class="max-w-6xl md:mx-auto flex justify-between py-8 px-4">
    <div class="text-sm text-content">
      <div class="flex gap-2">
        <span class="font-bold">Under construciton:</span>
        <a class="link" href="https://github.com/paularmstrong/paularmstrong.dev">Starter project</a
        >
        <a class="link" href="https://github.com/nemanjam/nemanjam.github.io#references"
          >All references</a
        >
      </div>
      <div class="flex gap-2">
        <span class="font-bold">Latest commit:</span>
        <span>{commitInfo}</span>
      </div>
    </div>

    <nav aria-label="Related content" class="grow select-none">
      <ul class="flex flex-row flex-wrap gap-2 sm:justify-end">
        <li>
          <Button
            href="https://github.com/nemanjam"
            target="_blank"
            rel="me noreferrer noopener"
            title="@nemanjam on Github"
          >
            <Icon name="github" class="h-6 w-6 fill-current" />
            {' '}Github
          </Button>
        </li>
        <li>
          <Button href="/feed.xml" title={`RSS feed for ${domain}`}>
            <Icon name="rss" class="h-6 w-6 fill-current" />
            {' '}RSS Feed
          </Button>
        </li>
        <li>
          <Button href="/feed.json" title={`JSON feed for ${domain}`}>
            <Icon name="json" class="h-6 w-6 fill-current" />
            {' '}JSON Feed
          </Button>
        </li>
      </ul>
    </nav>
  </div>
  <BackToTop client:only="solid-js" />
</footer>
