---
import ReactGallery from '@/components/react/Gallery';
import NewReactGallery from '@/components/react/NewGallery';
import { getGalleryImages, getImagesProps } from '@/libs/gallery/images';
import { sliceToMod4 } from '@/utils/array';
import { allImagesMetadata, imageMetadataToReactImageProps } from '@/utils/image';
import { randomizeArray } from '@/utils/objects';
import { cn } from '@/utils/styles';

export interface Props extends astroHTML.JSX.HTMLAttributes {}

const allImagesMetadataMod4 = sliceToMod4(allImagesMetadata);

const _reactImages = await Promise.all(
  allImagesMetadataMod4.map((metadata) => imageMetadataToReactImageProps(metadata))
);

const reactImages = await getGalleryImages();

console.log('reactImages', JSON.stringify(reactImages[0], null, 2));

// const reactImages = await getImagesProps();

const randomizedReactImages = randomizeArray(reactImages);

// console.log('reactImages', reactImages);

const { class: className } = Astro.props;
---

<div class={cn('', className)}>
  <!-- <ReactGallery client:only="react" images={randomizedReactImages} /> -->
  <NewReactGallery client:only="react" images={randomizedReactImages} />
</div>
