---
import NewReactGallery from '@/components/react/NewGallery';
import { getGalleryImages } from '@/libs/gallery/images';
import { randomizeArray } from '@/utils/objects';

export interface Props extends astroHTML.JSX.HTMLAttributes {}

const galleryImages = await getGalleryImages();
const randomizedGalleryImages = randomizeArray(galleryImages);

const { class: className } = Astro.props;
---

<div class={className}>
  <NewReactGallery client:only="react" images={randomizedGalleryImages} />
</div>
