---
import { Image } from 'astro:assets';

import { IMAGE_SIZES } from '@/constants/image';

import type { ImageMetadata } from 'astro';

const getAllImagesMetadata = (): ImageMetadata[] => {
  //
  // src/assets/images/all-images/river9.jpg
  const imageModules = import.meta.glob<{ default: ImageMetadata }>(
    '/src/assets/images/all-images/*.{jpg}',
    { eager: true }
  );

  console.log('imageModules', imageModules);

  const imagesMetadata = Object.keys(imageModules).map((path) => imageModules[path].default);
  return imagesMetadata;
};

const imagesMetadata = getAllImagesMetadata();
---

<ul>
  {
    imagesMetadata.map((image) => (
      <li>
        <Image {...IMAGE_SIZES.FIXED.MDX_XS_16_9} src={image} alt="my image" />
      </li>
    ))
  }
</ul>
