---
import { isActiveNavItem } from '@/utils/strings';
import { cn } from '@/utils/styles';

export type Props = astroHTML.JSX.AnchorHTMLAttributes;

// eslint-disable-next-line no-unused-vars1
const { slot, class: className, ...props } = Astro.props as Props;

const isActive = isActiveNavItem({
  routePathname: Astro.url.pathname,
  navItemHref: props.href as string,
});
---

<a {...props} class={cn('link-nav', { 'underline text-links': isActive }, className)}>
  <slot name="icon" />
  <slot />
</a>
