---
import ImageRandomReact from '@/components/react/ImageRandom';
import { IMAGE_SIZES } from '@/constants/image';
import { getImagesProps } from '@/libs/gallery/images';
import { cn } from '@/utils/styles';

const { class: className, ...props } = Astro.props;

const galleryImages = await getImagesProps();

// add 'px' suffix or styles will fail
const { width, height } = Object.fromEntries(
  Object.entries(IMAGE_SIZES.FIXED.MDX_XL_16_9).map(([key, value]) => [key, `${value}px`])
);
---

{/* height and width MUST be defined ON SERVER component to prevent layout shift */}
{/* set height and width to image size but set real size with max-height and max-width */}

<div class={cn('max-w-full max-h-96 my-8', className)} style={{ width, height }} {...props}>
  <ImageRandomReact {galleryImages} client:load />
</div>
