---
import { cn } from '@/utils/styles';

export type Props = astroHTML.JSX.AnchorHTMLAttributes & {
  variant?: 'link' | 'no-underline' | 'link-heading' | 'link-nav' | 'button';
};

const { class: className, variant = 'link', ...props } = Astro.props;
// add cva here
// all buttons are links, add more button variants
// props target="_blank" etc
---

<a
  {...props}
  class={cn(
    { link: variant === 'link' },
    { 'link-no-underline': variant === 'no-underline' },
    { 'link-button': variant === 'button' },
    { 'link-heading': variant === 'link-heading' },
    { 'link-nav': variant === 'link-nav' },
    className
  )}
>
  <slot />
</a>
