---
import Link from '@/components/Link.astro';
import { cn } from '@/utils/styles';

import type { Props as LinkProps } from '@/components/Link.astro';

export interface Props extends LinkProps {
  label: string;
}

const { class: className, label, variant = 'markdown', target = '_blank', ...props } = Astro.props;
---

<p class={cn('my-2 flex flex-col xs:flex-row xs:gap-1', className)}>
  <strong>{label}:</strong>
  <Link {...props} {variant} {target}>
    <slot>
      {props.href}
    </slot>
  </Link>
</p>
