---
import clsx from 'clsx';

export type Props = astroHTML.JSX.AnchorHTMLAttributes & {
  variant?: 'primary' | 'secondary' | 'transparent';
};

const { class: className, variant = 'primary', ...props } = Astro.props;
---

<a
  class={clsx(
    // link styles
    'no-underline decoration-1',
    // hover styles
    // add visited:...
    'hover:underline focus:underline active:underline',
    // variants
    {
      'text-links hover:text-links-hover focus:text-links-hover active:text-links-hover visited:text-links-visited':
        variant === 'primary',
    },
    {
      'text-secondary hover:text-primary hover:no-underline focus:text-primary focus:no-underline active:text-primary active:no-underline':
        variant === 'secondary',
    },
    {
      '': variant === 'transparent',
    },
    className
  )}
  {...props}
  ><slot />
</a>
