---
import { cva } from 'class-variance-authority';

import type { HTMLAttributes } from 'astro/types';
import type { VariantProps } from 'class-variance-authority';

const linkVariants = cva('', {
  variants: {
    variant: {
      link: 'link',
      'no-underline': 'link-no-underline',
      button: 'link-button',
      'link-heading': 'link-heading',
      'link-nav': 'link-nav',
    },
    // size: {},
  },
  // compoundVariants: [],
});

export interface Props extends HTMLAttributes<'a'>, VariantProps<typeof linkVariants> {}

const { class: className, variant = 'link', ...props } = Astro.props;

// all buttons are links, add more button variants
// props target="_blank" etc
---

<a class={linkVariants({ variant, className })} {...props}>
  <slot />
</a>
