---
import PostCardMore from './PostCardMore.astro';

import type { Post } from '@/types/post';

export interface Props {
  morePosts: Post[];
}

const { morePosts } = Astro.props;
---

<div>
  <h2>More posts</h2>
  <ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
    {
      morePosts.map((post) => (
        <li>
          <PostCardMore {post} />
        </li>
      ))
    }
  </ul>
</div>
