---
import { cn } from '@/utils/styles';

export const proseClasses = cn(
  // main styles
  'prose prose-slate max-w-none dark:prose-invert',

  // responsive styling
  // all tags
  'md:prose-lg lg:prose-xl',
  // limit just h1
  'prose-h1:text-3xl md:prose-h1:text-4xl lg:prose-h1:text-5xl'

  // debugging
  // 'outline outline-green-500'
);
---

<div class={proseClasses}>
  <slot />
</div>
