---
import clsx from 'clsx';

export type Props = astroHTML.JSX.AnchorHTMLAttributes;

const { class: className, ...props } = Astro.props;
---

<a
  class={clsx(
    'text-base',
    'inline-block px-2 py-0.5 lowercase no-underline rounded-full',
    'bg-slate-100 hover:bg-slate-200 dark:bg-slate-700 dark:hover:bg-slate-600',
    className
  )}
  {...props}
>
  <slot />
</a>
