---
import clsx from 'clsx';

export type Props = astroHTML.JSX.AnchorHTMLAttributes;

const { class: className, ...props } = Astro.props;
---

<a
  class={clsx(
    'text-base',
    'inline-block px-2 py-0.5 lowercase no-underline rounded-full',
    'bg-base-200 hover:bg-base-300',
    className
  )}
  {...props}
>
  <slot />
</a>
