---
import { cva } from 'class-variance-authority';

import type { HTMLAttributes } from 'astro/types';
import type { VariantProps } from 'class-variance-authority';

const tagVariants = cva('tag', {
  variants: {
    size: { sm: 'tag-sm', md: 'tag-md', lg: 'tag-lg' },
  },
});

export interface TagProps extends HTMLAttributes<'a'>, VariantProps<typeof tagVariants> {}

const { class: className, size = 'sm', ...props } = Astro.props as TagProps;
---

<a {...props} class={tagVariants({ size, className })}>
  <slot />
</a>
