---
import { getSortedUniqueCategoriesWithCount, getSortedUniqueTagsWithCount } from '@/modules/post';
import ItemWithCountList from '@/components/ItemWithCountList.astro';
import { cn } from '@/utils/styles';

import type { PostCollection } from '@/types/post';

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  posts: PostCollection[];
}

const { posts, class: className, ...props } = Astro.props;

const tagsWithCount = getSortedUniqueTagsWithCount(posts);
const categoriesWithCount = getSortedUniqueCategoriesWithCount(posts);
---

<section {...props} class={cn(className)}>
  <h3>Tags:</h3>
  <ItemWithCountList type="tags" items={tagsWithCount} class="mb-4" />
  <h3>Categories:</h3>
  <ItemWithCountList type="categories" items={categoriesWithCount} class="mb-4" />
</section>
