---
import { Icon } from 'astro-icon/components';
---

<theme-toggle>
  <button class="h-9 w-9 rounded-md p-2" type="button">
    <Icon name="mdi:white-balance-sunny" class="text-primary" />
  </button>
</theme-toggle>

<script>
  import { getNextTheme } from 'utils/dom';

  import { THEME_CHANGE_EVENT } from '@/constants/themes';

  class ThemeToggle extends HTMLElement {
    #controller: AbortController | undefined;

    connectedCallback() {
      const button = this.querySelector('button')!;
      // set aria role value
      button.setAttribute('role', 'switch');
      // button.setAttribute('aria-checked', String(isDarkMode()));

      // Abort signal
      const { signal } = (this.#controller = new AbortController());

      // button event
      button.addEventListener(
        'click',
        () => {
          // shift theme
          const nextTheme = getNextTheme();
          const themeChangeEvent = new CustomEvent(THEME_CHANGE_EVENT, {
            detail: { theme: nextTheme },
          });
          // dispatch event -> ThemeProvider.astro
          document.dispatchEvent(themeChangeEvent);

          // set the aria-checked attribute
          // button.setAttribute('aria-checked', String(isDarkMode()));
        },
        { signal }
      );
    }

    disconnectedCallback() {
      this.#controller?.abort();
    }
  }

  customElements.define('theme-toggle', ThemeToggle);
</script>
