---
import Pagination, { getPaginationPropsFromPage } from '../../../components/Pagination.astro';
import PostCard from '../../../components/PostCard.astro';
import Heading from '../../../components/ui/Heading.astro';
import Config from '../../../config';
import Base from '../../../layouts/Base.astro';
import { getAllEntries } from '../../../modules/common';
import { getUniqueCategories } from '../../../modules/post';

import type { GetStaticPathsOptions, Page } from 'astro';
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await getAllEntries('blog');
  const uniqueCategories = getUniqueCategories(posts);

  const pagination = uniqueCategories.flatMap((category) => {
    const filteredPosts = posts.filter((post) => post.data.category === category);
    const categoryPagination = paginate(filteredPosts, {
      pageSize: Config.PAGE_SIZE,
      params: { category },
    });
    return categoryPagination;
  });

  pagination.push({ ...pagination[0], params: { ...pagination[0].params, page: '1' } });
  return pagination;
}

type Props = {
  page: Page<CollectionEntry<'blog'>>;
};

const { page } = Astro.props;
const { category } = Astro.params;

const paginationProps = getPaginationPropsFromPage(page);
const title = `Category: ${category}`;
---

<Base title={title}>
  <div>
    <Heading as="h1" align="center">{title}</Heading>
  </div>

  <section>
    <div class="flex flex-col items-center gap-16">
      {page.data.map((post) => <PostCard post={post} />)}
    </div>
  </section>

  <Pagination {...paginationProps} />
</Base>
