---
import { getUniqueCategories } from '@/modules/post/category';
import { getAllPosts, getPostsWithReadingTimeFromPosts } from '@/modules/post/common';
import List from '@/layouts/List.astro';
import Link from '@/components/Link.astro';
import PostList from '@/components/PostList.astro';
import { ROUTES } from '@/constants/routes';
import { CONFIG } from '@/config';
import { pickPaginationPropsFromPage } from '@/utils/pagination';
import { capitalizeFirstLetter } from '@/utils/strings';

import type { Metadata } from '@/types/common';
import type { Post } from '@/types/post';
import type { GetStaticPathsOptions } from 'astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const sortedPosts = await getAllPosts();
  const posts: Post[] = await getPostsWithReadingTimeFromPosts(sortedPosts);

  const uniqueCategories = getUniqueCategories(posts);

  const pagination = uniqueCategories.flatMap((category) => {
    const filteredPosts = posts.filter((post) => post.data.category === category);
    const categoryPagination = paginate(filteredPosts, {
      pageSize: CONFIG.PAGE_SIZE,
      params: { category },
    });
    return categoryPagination;
  });

  pagination.push({ ...pagination[0], params: { ...pagination[0].params, page: '1' } });
  return pagination;
}

const { page } = Astro.props;
const { category } = Astro.params;

const title = capitalizeFirstLetter(category);
const metadata: Metadata = { title };

const paginationProps = pickPaginationPropsFromPage(page);
const layoutProps = { metadata, paginationProps };
---

<List {...layoutProps}>
  <Fragment slot="heading">
    <div class="flex justify-between">
      <h1>{title}</h1>
      <Link href={ROUTES.CATEGORIES_AND_TAGS} class="mt-2 md:mt-4">all categories</Link>
    </div>
  </Fragment>
  <PostList posts={page.data} />
</List>
