---
import { getAllPosts, getSortedUniqueTagsWithCount } from '@/modules/post';
import List from '@/layouts/List.astro';
import TagList from '@/components/TagList.astro';

const allPosts = await getAllPosts();

const tagsWithCount = getSortedUniqueTagsWithCount(allPosts);
const baseProps = { title: 'Tags' };
---

<List {baseProps}>
  <section>
    <div class="flex flex-col items-center gap-16">
      <TagList tags={tagsWithCount} />
    </div>
  </section>
</List>
