---
import { getAllPosts, getSortedUniqueTagsWithCount } from '@/modules/post';
import List from '@/layouts/List.astro';
import ItemWithCountList from '@/components/ItemWithCountList.astro';

import type { Metadata } from '@/types/common';

const allPosts = await getAllPosts();

const tagsWithCount = getSortedUniqueTagsWithCount(allPosts);
const metadata: Metadata = { title: 'Tags' };
---

<List {metadata}>
  <section>
    <ItemWithCountList type="tags" items={tagsWithCount} class="mb-4" />
  </section>
</List>
