---
import Base from '@/layouts/Base.astro';

import type { BaseProps } from '@/layouts/Base.astro';

export interface Props extends BaseProps {}

const props = Astro.props;
---

<Base {...props}>
  <main id="main" class="flex-grow w-full max-w-4xl md:mx-auto px-4 lg:px-0">
    <slot />
  </main>
</Base>
