---
import Base from '@/layouts/Base.astro';

import type { BaseProps } from '@/layouts/Base.astro';

export interface Props extends BaseProps {}

const props = Astro.props;
---

{/* flex here to take full height for pagination, flex-row align-stretch */}
{/* h-full doent work without all parents h-full */}

<Base {...props}>
  <main id="main" class="flex-grow flex flex-col centered-px max-w-4xl py-4 lg:py-8">
    <slot />
  </main>
</Base>
