---
import Centered from '@/layouts/Centered.astro';
import Pagination from '@/components/Pagination.astro';

import type { PaginationProps } from '@/components/Pagination.astro';
import type { BaseProps } from '@/layouts/Base.astro';

export interface Props extends BaseProps {
  paginationProps?: PaginationProps;
}

const { paginationProps, metadata } = Astro.props;
const { title, description } = metadata;
---

<Centered {metadata}>
  <article class="flex flex-col">
    <h1>{title}</h1>
    {description && <p class="mb-5">{description}</p>}
    <section class="flex-grow flex flex-col justify-between">
      <slot />
      {paginationProps && <Pagination {...paginationProps} class="mt-6" />}
    </section>
  </article>
</Centered>
