---
import Link from '../../components/Link.astro';
import Heading from '../../components/ui/Heading.astro';
import Base from '../../layouts/Base.astro';
import { getAllPosts, getSortedUniqueCategoriesWithCount } from '../../modules/post';

const posts = await getAllPosts();
const categoriesWithCount = getSortedUniqueCategoriesWithCount(posts);
---

<Base title="Categories">
  <Heading as="h1" align="center">Categories</Heading>

  <section>
    <ul class="flex flex-wrap gap-2">
      {
        categoriesWithCount.map(({ category, count }) => (
          <li>
            <Link href={`/categories/${category}`}>{`${category}(${count})`}</Link>
          </li>
        ))
      }
    </ul>
  </section>
</Base>
